<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to your Notebook</h1>
    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
      <h6><%= saymyname %>'s Todo List'</h6>
    </div>

    <div class="box">


      <%  newListItems.forEach(function(item){ %>

      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
          <p><%=item.name%></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <%  }) %>


      <form class="item" action="/notes" method="post">
        <input type="text" name="newItem" placeholder="New Notes" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>

    </div>
  </div>
  <div>
    <a class="btn btn-light btn-lg" href="/index" role="button">Manage Files</a>
    <br>
    <br>
      <a class="btn btn-light btn-lg" href="/receivebox" role="button">Mailbox</a>
  </div>
  <hr>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include('partials/footer') %>
</div>
